<nav id="navBar">
    <div class="logo">
        <img src="../../assets/images/MyLogoWhite.png" alt="Chia-Yuan">
    </div>
    <div class="navText">
        <span id="homePage">Home</span>
        <span id="labPage">Laboratory</span>
        <span id="commentsPage">Comments</span>
        <span style="display: none;" id="contactPage">Contact</span>
        <div class="alienShow"><img src="../../assets/images/—Pngtree—unknown alien_3081870.png" alt=""></div>
    </div>
</nav>
<div id="leftGate" class="changeGate"></div>
<div id="rightGate" class="changeGate"></div>