<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../shared/head %>
        <link rel="stylesheet" href="../../assets/stylesheets/projects/castle.css">
</head>

<body>
    <% include ../shared/back-to-lab %>
        <label>
            <div class="remind">CLick To Switch !</div>
            <input type="checkbox" />
            <div class="scene">
                <div class="elf"></div>
                <div class="moon"></div>
                <div class="sun"></div>
                <div class="clouds">
                    <div class="cloudInner"></div>
                    <div class="cloudInner"></div>
                    <div class="cloudInner"></div>
                </div>
                <div class="clouds1">
                    <div class="cloudInner"></div>
                    <div class="cloudInner"></div>
                    <div class="cloudInner"></div>
                </div>
                <div class="clouds2">
                    <div class="cloudInner"></div>
                    <div class="cloudInner"></div>
                    <div class="cloudInner"></div>
                </div>
                <div class="clouds3">
                    <div class="cloudInner"></div>
                    <div class="cloudInner"></div>
                    <div class="cloudInner"></div>
                </div>
                <div class="fireWork">
                    <div class="fire1">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire2">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire3">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire4">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire5">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire6">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire7">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire8">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire9">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire10">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire11">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire12">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire13">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire14">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire15">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire16">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire17">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire18">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire19">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire20">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire21">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire22">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire23">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire24">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire25">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire26">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire27">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire28">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire29">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire30">
                        <div class="ball"></div>
                    </div>
                </div>
                <div class="fireWork2">
                    <div class="fire1">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire2">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire3">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire4">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire5">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire6">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire7">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire8">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire9">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire10">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire11">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire12">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire13">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire14">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire15">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire16">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire17">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire18">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire19">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire20">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire21">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire22">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire23">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire24">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire25">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire26">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire27">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire28">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire29">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire30">
                        <div class="ball"></div>
                    </div>
                </div>
                <div class="fireWork3">
                    <div class="fire1">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire2">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire3">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire4">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire5">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire6">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire7">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire8">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire9">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire10">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire11">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire12">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire13">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire14">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire15">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire16">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire17">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire18">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire19">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire20">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire21">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire22">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire23">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire24">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire25">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire26">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire27">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire28">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire29">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire30">
                        <div class="ball"></div>
                    </div>
                </div>
                <div class="fireWork4">
                    <div class="fire1">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire2">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire3">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire4">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire5">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire6">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire7">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire8">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire9">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire10">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire11">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire12">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire13">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire14">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire15">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire16">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire17">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire18">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire19">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire20">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire21">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire22">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire23">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire24">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire25">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire26">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire27">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire28">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire29">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire30">
                        <div class="ball"></div>
                    </div>
                </div>
                <div class="fireWork5">
                    <div class="fire1">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire2">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire3">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire4">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire5">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire6">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire7">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire8">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire9">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire10">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire11">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire12">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire13">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire14">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire15">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire16">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire17">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire18">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire19">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire20">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire21">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire22">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire23">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire24">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire25">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire26">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire27">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire28">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire29">
                        <div class="ball"> </div>
                    </div>
                    <div class="fire30">
                        <div class="ball"></div>
                    </div>
                </div>
                <div class="building">
                    <div class="castle1">
                        <div class="back">
                            <div class="roof"></div>
                        </div>
                        <div class="left">
                            <div class="wall">
                                <div class="window"></div>
                            </div>
                            <div class="wall">
                                <div class="window"></div>
                            </div>
                            <div class="wall">
                                <div class="window"></div>
                            </div>
                            <div class="roof"></div>
                        </div>
                        <div class="mid">
                            <div class="window"> </div>
                            <div class="window"> </div>
                            <div class="window"> </div>
                            <div class="roof"></div>
                            <div class="door"></div>
                            <div class="wall1"></div>
                            <div class="wall2"></div>
                        </div>
                        <div class="right">
                            <div class="wall">
                                <div class="window"></div>
                            </div>
                            <div class="wall">
                                <div class="window"></div>
                            </div>
                            <div class="wall">
                                <div class="window"></div>
                            </div>
                            <div class="roof"></div>
                        </div>
                        <div class="rightSmall">
                            <div class="wall"> </div>
                            <div class="wall">
                                <div class="window"></div>
                            </div>
                            <div class="wall"></div>
                            <div class="roof"></div>
                        </div>
                        <div class="rightWall"></div>
                    </div>
                    <div class="castle2">
                        <div class="bottom"></div>
                        <div class="rightBottom">
                            <div class="window"></div>
                            <div class="roof"></div>
                        </div>
                        <div class="topLeft">
                            <div class="window"> </div>
                            <div class="window"> </div>
                            <div class="window"> </div>
                            <div class="roof"></div>
                            <div class="tower">
                                <div class="towerRoof"></div>
                            </div>
                        </div>
                        <div class="topMid">
                            <div class="wall">
                                <div class="window"></div>
                            </div>
                            <div class="wall">
                                <div class="window"></div>
                            </div>
                            <div class="wall">
                                <div class="window"></div>
                            </div>
                            <div class="tower">
                                <div class="window"></div>
                                <div class="towerRoof"></div>
                            </div>
                        </div>
                        <div class="topRight">
                            <div class="smallTower">
                                <div class="window"></div>
                                <div class="towerRoof"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </label>
        <% include ../shared/script %>
</body>

</html>