<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../shared/head %>
        <link rel="stylesheet" href="../../assets/stylesheets/projects/particles.css">
</head>

<body>
    <% include ../shared/back-to-lab %>
        <canvas id="myCanvas"></canvas>
        <% include ../shared/script %>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>
            <script src="../../assets/javascripts/projects/particles.js"></script>
</body>

</html>