<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../shared/head %>
        <link rel="stylesheet" href="../../assets/stylesheets/projects/snake.css">
</head>

<body>
    <% include ../shared/back-to-lab %>
        <div class="panel">
            <h2>Score: 0</h2>
            <button onclick="game.startGame()">Start Game</button>
        </div>
        <canvas id="myCanvas"></canvas>
        <% include ../shared/script %>
            <script src="../../assets/javascripts/projects/snake.js"></script>
</body>

</html>