<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 共用檔案 -->
    <% include shared/head %>
</head>

<body>
    <!-- 共用檔案 -->
    <% include shared/navbar %>

        <!-- 共用檔案 -->
        <% include shared/script %>
</body>

</html>