body {
  background-color: #000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .navText span:nth-child(3) {
  color: #F75C2F;
  pointer-events: none;
}

.ufoImg {
  position: absolute;
  z-index: 500;
  left: 50%;
  top: 0%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 17%, 0 17%);
          clip-path: polygon(0 0, 100% 0, 100% 17%, 0 17%);
}

.ufoImg img {
  width: 250px;
}

section {
  position: relative;
  background-image: url("../images/pexels-jakub-novacek-924824.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

section .msgContainer {
  width: 80%;
  height: 570px;
  position: relative;
  top: 2%;
  max-width: 900px;
  min-width: 750px;
}

section .msgContainer .msgShow {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #F75C2F;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: hidden;
}

section .msgContainer .msgShow .numMsg {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

section .msgContainer .msgShow .numMsg h6 {
  color: #fff;
  opacity: 0.7;
  letter-spacing: 2px;
}

section .msgContainer .msgShow #messageShow {
  height: 100%;
  width: 100%;
}

section .msgContainer .msgShow #messageShow .row {
  height: 83%;
}

section .msgContainer .msgShow #messageShow .row .cardContainer {
  height: 200px;
  color: #fff;
}

section .msgContainer .msgShow #messageShow .row .cardContainer .card {
  height: 210px;
  border: 1px solid #2EA9DF;
  border-radius: 15px;
  background-color: #000;
}

section .msgContainer .msgShow #messageShow .row .cardContainer .card hr {
  border-color: #fff;
  margin: 12px 0px;
}

section .msgContainer .msgShow #messageShow .row .cardContainer .card #msgName {
  margin-bottom: 0;
  white-space: nowrap;
}

section .msgContainer .msgShow #messageShow .row .cardContainer .card #msgName i {
  font-size: 20px;
  margin-right: 4px;
}

section .msgContainer .msgShow #messageShow .row .cardContainer .card #msgName i.colorRed {
  color: #F75C2F;
}

section .msgContainer .msgShow #messageShow .row .cardContainer .card #msgName i.colorBlue {
  color: #2EA9DF;
}

section .msgContainer .msgShow #messageShow .row .cardContainer .card .favoriteLab {
  font-size: 14px;
}

section .msgContainer .msgShow #messageShow .row .cardContainer .card .favoriteLab span.colorRed {
  color: #F75C2F;
}

section .msgContainer .msgShow #messageShow .row .cardContainer .card .favoriteLab span.colorBlue {
  color: #2EA9DF;
}

section .msgContainer .msgShow #messageShow .row .cardContainer .card .card-text {
  height: 75px;
  font-size: 14px;
}

section .msgContainer .msgShow #messageShow .row .cardContainer .card .showTime {
  opacity: 0.7;
  font-size: 10px;
  letter-spacing: 1px;
}

section .msgContainer .msgShow .msgBtn {
  position: absolute;
  bottom: 25px;
  right: 50px;
}

section .msgContainer .msgShow .msgBtn button {
  border: 1px solid #fff;
  padding: 5px 15px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border-radius: 10px;
}

section .msgContainer .msgShow .msgBtn button span {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}

section .msgContainer .msgShow .msgBtn button i {
  position: relative;
  -webkit-transition: -webkit-transform 1.2s .2s ease-in-out;
  transition: -webkit-transform 1.2s .2s ease-in-out;
  transition: transform 1.2s .2s ease-in-out;
  transition: transform 1.2s .2s ease-in-out, -webkit-transform 1.2s .2s ease-in-out;
  margin-left: 7px;
  left: 0;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
          transform: rotate(0deg) translate(0px, 0px);
}

section .msgContainer .msgShow .msgBtn button:hover {
  border-color: #F75C2F;
  background-color: #F75C2F;
}

section .msgContainer .msgShow .msgBtn button:hover i {
  -webkit-transform: rotate(-90deg) translate(120px, 120px);
          transform: rotate(-90deg) translate(120px, 120px);
}

section .msgContainer .msgLeave {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -100%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #2EA9DF;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

section .msgContainer .msgLeave form {
  height: 100%;
  width: 50%;
  padding: 4% 5%;
}

section .msgContainer .msgLeave form h1, section .msgContainer .msgLeave form p {
  color: #2EA9DF;
  text-align: center;
  letter-spacing: 2px;
}

section .msgContainer .msgLeave form p {
  margin-top: 15px;
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 5px;
}

section .msgContainer .msgLeave form div {
  margin: 30px 10%;
}

section .msgContainer .msgLeave form div * {
  width: 100%;
  border-radius: 5px;
}

section .msgContainer .msgLeave form div select {
  padding: 3px 0px 3px 8px;
}

section .msgContainer .msgLeave form div input {
  padding: 2px 0px 2px 10px;
}

section .msgContainer .msgLeave form div textarea {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 150px;
}

section .msgContainer .msgLeave form div button {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  margin: 0 25%;
  width: 50%;
  color: #2EA9DF;
  padding: 5px 0;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #2EA9DF;
}

section .msgContainer .msgLeave .bgiContainer {
  border-left: 1px solid #2EA9DF;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../images/constellations-1851128.jpg");
  background-position: center;
  background-size: cover;
}

section .msgContainer .msgLeave .bgiContainer h3 {
  color: #2EA9DF;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

section .msgContainer .msgLeave .bgiContainer h3 span {
  position: relative;
  -webkit-animation: wordFloat 1.5s linear alternate infinite;
          animation: wordFloat 1.5s linear alternate infinite;
  top: 0;
}

section .msgContainer .msgLeave .bgiContainer h3 span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

section .msgContainer .msgLeave .bgiContainer h3 span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

section .msgContainer .msgLeave .bgiContainer h3 span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

section .msgContainer .msgLeave .bgiContainer h3 span:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

section .msgContainer .msgLeave .bgiContainer h3 span:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

section .msgContainer .msgLeave .bgiContainer h3 span:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

section .msgContainer .msgLeave .bgiContainer h3 span:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

section .msgContainer .msgLeave .bgiContainer h3 span:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

section .msgContainer .msgLeave .bgiContainer h3 span:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

section .msgContainer .msgLeave .bgiContainer h3 span:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

section .msgContainer .msgLeave .bgiContainer h3 span:nth-child(11) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

section .msgContainer .msgLeave .bgiContainer button {
  padding: 8px 18px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  letter-spacing: 2px;
}

section .msgContainer .msgLeave .bgiContainer button:hover {
  border: 1px solid #2EA9DF;
  color: #2EA9DF;
  background-color: #000;
}

@-webkit-keyframes flyDown {
  40% {
    top: 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
            clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
  }
  50% {
    top: 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 92%);
            clip-path: polygon(0 0, 100% 0, 100% 92%, 0 92%);
  }
  70% {
    top: 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 92%);
            clip-path: polygon(0 0, 100% 0, 100% 92%, 0 92%);
  }
  80% {
    top: 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
            clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
  }
  100% {
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
            clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
  }
}

@keyframes flyDown {
  40% {
    top: 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
            clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
  }
  50% {
    top: 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 92%);
            clip-path: polygon(0 0, 100% 0, 100% 92%, 0 92%);
  }
  70% {
    top: 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 92%);
            clip-path: polygon(0 0, 100% 0, 100% 92%, 0 92%);
  }
  80% {
    top: 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
            clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
  }
  100% {
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
            clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
  }
}

@-webkit-keyframes wordFloat {
  50% {
    top: -5px;
  }
}

@keyframes wordFloat {
  50% {
    top: -5px;
  }
}

@-webkit-keyframes flyOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    right: 0;
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
    right: 0;
  }
  100% {
    right: -100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes flyOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    right: 0;
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
    right: 0;
  }
  100% {
    right: -100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    right: -100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    right: 0;
  }
}

@keyframes fadeIn {
  0% {
    right: -100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    right: 0;
  }
}
/*# sourceMappingURL=comments.css.map */