body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
nav {
    .navText {
        span {
            &:nth-child(2) {
                color: #F75C2F;
                pointer-events: none;
            }
        }
    }
}
// 可加 可不加
.changeGate {
    &#leftGate {
        left: -62%;
    }
    &#rightGate {
        right: -62%;
    }
}
section {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    .openGate {
        position: absolute;
        z-index: 1000;
        height: 50vh;
        width: 100%;
        background-color: #000;
        transition: all .7s ease;
        &#upperG {
            top:0vh;
        }
        &#downG {
            bottom:0vh;
        }
    }
    .menuContainer {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-image: url("../images/milky-way-74005.jpg");
        background-size: cover;
        background-position: center;
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            padding: 0;
            .labCollection {
                width: 100%;
                height: 100vh;
                padding: 10% 0;
                .labCard {
                    height: 50%;
                    padding: 15px;
                    position: relative;
                    top: 0;
                    animation: cardFloat 2s linear alternate infinite;
                    @for $i from 1 through 6 {
                        &:nth-child(#{$i}){
                            animation-delay: $i*-0.8s;
                        }
                    }
                    .cardText {
                        position: relative;
                        padding: 20px;
                        height: 100%;
                        width: 100%;
                        border-radius: 20px;
                        border: 1px solid #F75C2F;
                        box-shadow: 8px 8px 15px rgba(#000,0.7);
                        background-color: rgba(#000, 0.8);
                        overflow: hidden;
                        .deco {
                            position: absolute;
                            // border: 1px solid #F75C2F;
                            background-color: #000;
                            background-origin: padding-box;
                            border-radius: 0 100% 0 0;
                            width: 100%;
                            height: 31%;
                            bottom: 0;
                            left: 0;
                            z-index: 5;
                        }
                        h1 {
                            font-size: 24px;
                            color: #fff;
                            font-family: 'Bebas Neue', cursive;
                            letter-spacing: 2px;
                            margin-top: 5px;
                            margin-left: 5px;
                        }
                        p {
                            color: #fff;
                            line-height: 34px;
                            position: relative;
                            z-index: 10;
                        }
                        .labBtn {
                            font-family: 'Bebas Neue', cursive;
                            letter-spacing: 2px;
                            color: #2EA9DF;
                            background-color: transparent;
                            position: absolute;
                            right: 25px;
                            bottom: 20px;
                            font-size: 20px;
                            border: 1px solid #2EA9DF;
                            border-radius: 5px;
                            padding: 3px 20px;
                            transition: all .3s ease-in-out;
                            z-index: 10;
                            span {  
                                transition: all .2s ease-in-out;
                                &::after { 
                                    margin: 0px 8.5px;
                                    content: "TRY ME";
                                    display: inline-block;
                                }
                            }
                            &:hover {
                                // border-color: #fff;
                                background-color: #2EA9DF;
                                color: #fff;
                                span {           
                                    &::after {
                                        margin: 0;
                                        content: "Have Fun";
                                    }
                                }
                            }
                        }
                    }                
                }
            }
        }
    }
}

@keyframes cardFloat{
    50% {
        top: 10px;
    }
}